/* for big tablet to small computers range 1024px to 1200px */
@media only screen and (max-width: 1200px){

}




/* for small tablet to big tablet range 768px to 1023px */
@media only screen and (max-width:1023px){
    html{
        font-size: 16px;
        background-repeat: no-repeat;
    }
    .wrapper-nav{width: 100%;}
    .nav ul{
        margin-left:  40px;
    }
    .nav ul li{margin-right: 10px;}
    .nav ul li a{font-size: 80%;}
    .search-box{width: 65%;}
    .content-wrapper{display: flex; flex-basis: 100%; margin-top: 100px; margin-bottom: 140px;}
    .wrap-content{
        flex-basis: 100%;
        justify-items: left;
    }
    .wrap-bg{width: 80%; margin-left: 20px;}
    .wrap-login{margin: 30px auto;}
    .log-input{
        margin-bottom: 40px;
    }
}


/* for small phones to small tablet range 481px-787px */
@media only screen and (max-width:767px){
    html{
        font-size: 14px;
        background-repeat: no-repeat;
        height: auto;
    }
    .wrapper-nav{width: 100%;}
    .head{
        margin: 40px 40px;
    }
    .nav ul{
        margin-left:  20px;
    }
    .nav ul li{margin-right: 5px;}
    .nav ul li a{font-size: 80%;}
    .search-box{width: 60%;}
    .btn, .search-box{padding: 5px;}
    .content-wrapper{display: block; margin-top: 80px;}
    .word-para{font-size: 100%; text-align: center; margin-top: 20%}
    .wrap-bold{font-size: 120%;width: 80%; margin: 50px auto 10px; text-align: center;}
    .btn-contact{margin-left: 40%; font-size: 80%;}
    .wrap-bg{margin: 10% auto; width:80%; } /*------------------------------------------*/
    .wrap-login{margin: 10px auto; padding: 50px 0px;}
    .log h2{font-size: 200%;}
    .log-input{margin: 2% auto;}
    .log-email{padding: 20px; margin: 20px 0px;}
    .btn-sign{padding: 10px;}
    .log-email[placeholder]{font-size: 120%;}
    .signup p{font-size: 100%;}
    .social p{font-size: 90%;}
}


/* for small phones ranging from 0px to 480px */

@media only screen and (max-width: 480px){
    html{
        font-size: 12px;
        background-repeat: no-repeat;
       
    }
    .head{
        margin: 30px 15px;
    }
    .content-wrapper{display: block;margin-top: 30px;}
    .logo{font-size: 90%;}
    .nav ul{
        margin-left: 10px;
    }
    .nav ul li {font-size: 90%;  margin-right: 5px;}
    .nav ul li a{font-size: 70%;}
    .btn{padding: 3px;}
    .search-box{padding: 1px;}
    .wrap-content{margin-top: 15%;}
    .word-para{margin:0px auto 10px; font-size: 100%; width: 90%; text-align: center;}
    .wrap-bold{width: 80%; margin:0px auto 20px; font-size: 100%; text-align: center;}
    .btn-contact{margin-left: 40%;}
    .wrap-bg{margin: 50px auto 100px; width:80%; }
    .wrap-login{margin: 10px auto; padding: 10px 0px;}
    .log h2{font-size: 100%; margin: 20px 0px;}
    .log-input{margin: 1% auto;}
    .log-email{padding: 10px; margin-bottom: 10px;}
    .signup .btn{margin-bottom: 10px;}
    .signup p{font-size: 60%;}
    .log-email[placeholder]{font-size: 80%;}
    .btn{font-size: 80%;}
}